<% @admin.name %>
<div>Hello there</div>

    <%= link_to "Approve Certifications", '/certifications', :class => "btn btn-primary" %>
    <%= link_to "Manage Riders", riders_path, :class => "btn btn-primary" %>
    <%= link_to "Manage Drivers", drivers_path, :class => "btn btn-primary" %>