<div class="container">
  <div class="col-sm text-center">
    <h1 class="display-4">Driverse Login</h1>
    <%= link_to "Rider", "/rider_login", :class => "btn btn-primary" %>
    <%= link_to "Driver", "/driver_login", :class => "btn btn-primary" %>
    <%= link_to "Admin", "/admin_login", :class => "btn btn-primary" %>
  </div>
</div>
