<div class="container">
  <div class="col-sm text-center">
    <h1 class="display-4">Driverse Login</h1>
    <button type="button" class="btn btn-primary">Rider</button>
    <button type="button" class="btn btn-primary">Driver</button>
  </div>
</div>

<div class="container">
  <div class="col-sm text-center">
    <h1 class="display-4">Create New</h1>
    <button type="button" class="btn btn-primary">Rider Account</button>
    <button type="button" class="btn btn-primary">Driver Account</button>
  </div>
</div>

