<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1047166153945-la4dunqs0ahhkg0dktifv9nsriprpguh.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style>
      .g-signin2{
          width: 100%;
        }
        
        .g-signin2 > div{
          margin: 0 auto;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-sm text-center">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <script>
          function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());
    
            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
          }
        </script>
      </div>
    </div>
  </body>
</html>

<div class="container">
  <div class="col-sm text-center">
    <h1 class="display-4">Driverse Login</h1>
    <%= link_to "Rider", "/auth/google_oauth2", :class => "btn btn-primary" %>
    <button type="button" class="btn btn-primary">Driver</button>
  </div>
</div>

<div class="container">
  <div class="col-sm text-center">
    <h1 class="display-4">Create New</h1>
    <button type="button" class="btn btn-primary">Rider Account</button>
    <button type="button" class="btn btn-primary">Driver Account</button>
  </div>
</div>

