<div class="container">
  <div class="col-sm text-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Description</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Approve?</th>
        </tr>
      </thead>
      <tbody>
        <% @certifications.each do |certification| %>
          <tr>
            <td>  
              <% if certification.image.attached? %>
              <%= image_tag(certification.image, height: 200, width:200 ) %>
              <% end %>
            </td>
            <td><%= certification.name %></td>
            <td><%= certification.updated_at.strftime("%m/%d/%Y") %></td>
            <td><%= check_box_tag("") %></td>
          </tr>
        <% end %>
      </tbody>
    
    </table>
  </div>
</div>