<h1>Listing Rides</h1>
 
<div class="col-sm-3">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Origin</th>
        <th>Destination</th>
        <th>Accepted?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @riders.each do |rider| %>
        <% rider.rides.each do |ride| %>
          <tr>
            <td><%= ride.origin %></td>
            <td><%= ride.destination %></td>
            <td><%= ride.accepted %></td>
            <td
              <%= link_to 'Accept this ride', root_path, :class => "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      <% end %>    
    </tbody>
   
  
  </table>
</div>
